extends layout

include mixins/_storeCard

block content
  .inner
    h2 #{category || 'Tags'}
    ul.tags
      each tag in tags
        li.tag
          a.tag__link(class=(tag._id === category ? 'tag__link--active' : '') href=`/tags/${tag._id}`)
            span.tag__text= tag.id
            span.tag__count= tag.count
    .stores
      each store in stores
        +storeCard(store)